<%= form_for([@thread, @thread.forum_comments.build]) do |f| %>

  <p>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.submit "Create Comment", class: "create_comment_btn" %>
  </p>
  
<% end %>