

<div class="wrapper">

  <div class="section group"> <!-- row 1 -->
    <div class="col span_1_of_3">
      <div class="sub_heading">
        <h3>News</h3>
      </div>
    </div>
    
    <div class="col span_1_of_3">
      <div class="sub_heading">
        <h3>Features</h3>
      </div>
    </div>
    
    <div class="col span_1_of_3">
      <div class="sub_heading">
        <h3>Calendar</h3>
      </div>
    </div>
  </div> <!--end of row 1 -->





  <% @posts.each do |post| %>
    <div class="section group">

     <div class="col span_1_of_3">
       <h2><%= link_to post.title, post %></h2><br>
       <p><%= post.created_at.strftime("%B, %d, %Y") %></p><br>
       <p><%= post.body.html_safe %></p>
     </div>
       </div>   

  <% end %>
  
  
  
  
</div> <!-- end of wrapper -->
