<div class="wrapper">
  <h1> <%= @post.title %> </h1>
  <%= image_tag @post.picture.url if @post.picture? %>
  <p>
    Submitted <%= time_ago_in_words(@post.created_at) %> ago
  </p>
  <p>
    <%= @post.body.html_safe %>
  </p>
</div>

