
 
/* variables, mixins */

$blue: rgb(16,22,127);
$lightblue: rgb(124, 129, 184);
$red: rgb(254, 35, 10);
$gold: rgb(255, 150, 0);

/* universal */
 
body {
   font-family: 'Open Sans', sans-serif;
}

h1 {
   color: $blue;
   font-size: 3.5em;
   padding-top: 50px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  padding-bottom: 3px;
}

.sub_heading {
  border-bottom: 2px solid $red;
  margin-right: 200px;  
  
}
 
.large_wrapper{
   width: 95%;
   margin: auto;
}


.small_wrapper {
  width: 70%;
  margin: auto;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}

/* index page */
.post_tile { text-align: center; 
    border: 1px solid black;
    h2 {
    text-align: center; 
    background-color: $blue;
    padding: 10px 0px 10px 0px;
    margin-bottom: -16px;
    }
    a {
    color: white;
    text-decoration: none;
        &:hover {
        color: $lightblue;
        }
    }
    p {
       background-color: $blue;
       color: white;
       padding: 10px;
       margin-top: -2px;
    }
    img {
        width: 100%;
    }
}



/* show page */
.post_picture {
  text-align: center;
}

.posted_on {
  margin-top: 20px;
  float: right;
}



/* header */
header {
  margin-bottom: 45px;
}
#top_bar{
   background-color: white;
}

#logo {
   margin: 6px 6px 0px 0px;
   width: 15%;
   float: left;
}

#title {
 float: left;
}

#login_links {
 float: left;
 margin-left: 30%;
 margin-top: 60px;
 a {
   color: $blue;
   text-decoration: none;
   font-weight: bold;
   padding-right: 20px;
   &:hover {
   color: $lightblue;
   }
  }
}


.mobile {
   visibility: hidden;
}

#mobile_donate_button {
   display: none;
}

#mobile_volunteer_button {
   display: none;
}

#header_pic {
   width: 100%;
   clear:both;
}

#tabs {
   position: fixed;
   top: 0px;
   left: 75%;
}

.header_tab {
   font-size: 2em;
   color: white;
   text-align: center;
   border-radius: 0px 0px 25px 25px;
   padding: 5px 10px 10px 10px;
   text-transform: uppercase;
   font-size: 2em;
}

#donate_tab {
  background-color: $red;
  float: right;
  font-size: 2em;
  color: white;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 10px 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  border-left: none;
  
}

#volunteer_tab {
  float: right;
  background-color: $gold;
  font-size: 2em;
  color: white;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 10px 10px 10px;
  text-transform: uppercase;
  margin-left: 2px;
  text-decoration: none;
  border-left: none;
}

#tabs  a:hover {
   opacity: .5;
}

.col{
  padding: 0px 30px 0px 30px;
  box-sizing: border-box;
}

/* navbar */

nav {
  background-color: $blue;
  margin-top: -3px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left; 
    a:link, a:visited {
      display: block;
      color: white;
      background-color: $blue;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      font-size: 1.75em;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      letter-spacing: -1px;
      border-left: 1px solid white;
      }
    a:hover, a:active {
    background-color: white;
    color: $blue;
    }
  }
}

#home_link {
   border-left: none;
}




/* Media Queries */
@media only screen and (max-width: 1720px) {
  #login_links {
    margin-left: 25%;
  }
}


@media only screen and (max-width: 1500px) {

#title {
   font-size: 2.5em;
   padding-top: 20px;
}

a:link, a:focus {
   //font-size: 1.5em;
}

#donate_tab, #volunteer_tab {
   font-size: 1.5em;
}

}



@media only screen and (max-width: 1150px) {

nav li {
   font-size: 1.1em;
}

#donate_tab, #volunteer_tab {
   font-size: 1em;
}

a:link, a:focus {
   //font-size: 1em;
}

}

@media only screen and (max-width: 900px) {

#title {
  display: none;
}

.mobile {
   visibility: visible;
}

#wrapped_title {
   color: $blue;
   font-size: 1.75em; 
   float: left;
}

#tabs {
   position: static;
}

.header_tab {
   text-align: center;
   padding: 5px 10px 10px 10px;
   text-transform: uppercase;
}

#donate_tab {
   display: inline;
   font-size: 1.5em;
   border-radius: 0px;
}

#volunteer_tab {
   display: inline;
   font-size: 1.5em;
   border-radius: 0px;
}

a:link, a:focus {
   padding: 10px;
   //font-size: 1em;
}
}

@media only screen and (max-width: 800px) {

a:link, a:focus {
   padding: 10px;
   //font-size: .75em;
   letter-spacing: 1px; 
  
}


}


@media only screen and (max-width: 750px) {

.wrapper {
   width: 100%;
}

#wrapped_title {
 margin-bottom: 5px;
}

nav li {
   float: none;
}

a:link, a:focus {
   border-left: none; 
   border-bottom: 1px solid white;
   font-size: 1.25em;
}

#tabs {
   display: none; 
}

#mobile_donate_button {
   display: block; 
   background-color: $red;
}

#mobile_volunteer_button {
   display: block;
   background-color: $gold;
}


}


 


